<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <header>Submit a message</header>
    <h1>Hi this is a form.</h1>
    <form action="POST">
        <input type="text" id="name">
        <input type="text" id="message">
        <button>Submit</button>
    </form>

</body>
</html>